*~
*.o
*.rpm
*.service
*.spec
*.tar.gz
.deps
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
src/esegend/.deps/
src/esegend/cmdswitch.cpp
src/esegend/cmdswitch.h
src/esegend/esegend
