*~
*.buildinfo
*.changes
*.ddeb
*.deb
*.dsc
*.o
*.rpm
*.service
*.spec
*.tar.gz
*.tar.xz
.deps
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
debian/changelog
debian/control
src/esegend/.deps/
src/esegend/cmdswitch.cpp
src/esegend/cmdswitch.h
src/esegend/esegend
