*~
*.o
.deps
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
src/esegen/.deps/
src/esegen/cmdswitch.cpp
src/esegen/cmdswitch.h
src/esegen/esegen
